CAPSWRITER_SERVER_IMAGE=ghcr.io/df-wu/capswriter-offline-server:latest
CAPSWRITER_MODEL_TYPE=qwen_asr
CAPSWRITER_INFERENCE_HARDWARE=auto
CAPSWRITER_GPU_DEVICE_COUNT=all
CAPSWRITER_SERVER_PORT=6016
CAPSWRITER_LOG_LEVEL=INFO
CAPSWRITER_NUM_THREADS=4
CAPSWRITER_REMOVE_MODEL_ARCHIVES=false
