# ASR core
sherpa-onnx
numpy
gguf
onnxruntime-directml

# basic
rich
websockets
watchdog
pypinyin

# fork HTTP API
fastapi
uvicorn[standard]
python-multipart

# tray and image
pystray
Pillow

markdown
tkhtmlview
